body{
    background: #EEF5F9 !important;
}

.container{
    width: 368px;
    height: 449px;
    margin-top:20px;
    margin-bottom:200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
}
.main-data{
    float: left;
    box-align: center;
    margin: 0%;
}

hr{
    width: 330px;
    height: 1px;
    background-color: #ebebeb;
    background-size: cover;
}
.title{
    width: 345px;
    height: 25px;
    font-family: Roboto;
    font-size: 21px;
    color: #b3b3b3;
    font-weight: 100;
    text-decoration: none solid rgb(179, 179, 179);
    text-align: center;
    margin-top: 5%;
}
/* #login-form{
    box-sizing: border-box;
    width:300px;
    height:300px;
    font-family:arial;
    font-size: 14px;
    background-color: aqua; */
/* } */
input{
    width: 322px;
    height: 45px;
    position: relative;
    padding: 5px 10px 5px 40px;
    border-radius: 3px;
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    color: #545454;
    font-weight: 400;
    text-decoration: none solid rgba(84, 84, 84, 0.5);
    box-shadow: 0px 0px 5px rgba(39,187,245,0.4);
}
.usernameIcon [type=text]{
    background-position: 2% !important;
    background: url('../../assets/images/dashboard/RetinaIcon1.png') no-repeat;
}
.passwordIcon {
  background-position: 2% !important;
  background: url('../../assets/images/dashboard/RetinaIcon2.png') no-repeat;
}

.inputWithIcon i{
    position :relative;
    left:0;
}
button{
    position: relative;;
    width: 321px;
    height: 45px;
    border-radius: 4px;
    background-color: #27bbf5;
    font-family: Roboto;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}
.ourClass{
   color:red;
   margin-top:-15px;
  
}
.ourClass1{
    color:red; 
    margin-top:5px;
}
#forgot-password{
    width: 300px;
    height: 17px;
    font-family: Roboto;
    font-size: 14px;
    color: #008cff;
    font-weight: 300;
    text-decoration: none solid rgb(0, 140, 255);
    text-align: center;
    text-decoration: underline;
}
/* .usericon{
    background: #000 url(../../assets/images/dashboard/RetinaIcon1.png) no-repeat;
    width: 25px;
    height: 25px;
} */

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 140px;
    height: 48px;
}
