.export-report{
    width: 1133px;
    height: 50px;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(173,198,212,0.15);
}
.first{
    width: 115px;
    height: 24px;
    font-family: Roboto;
    font-size: 15px;
    color: #6e6e6e;
    font-weight: 100;
    text-decoration: none solid rgb(110, 110, 110);
    line-height: 24px;
    letter-spacing: 1px;
}
.second{
    width: 170px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background-color: #ffffff;
    background-size: cover;
    font-family: Roboto;
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none solid rgb(140, 140, 140);
}
.third{
    width: 147px;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid #4dcf30;
    border-radius: 2px;
    background-color: #4dcf30;
    background-size: cover;
    font-family: Roboto;
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none solid rgb(140, 140, 140);
}
.content{
    width: 1133px;
    height: 468px;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(173,198,212,0.15);
    text-decoration-line: underline;  
}
.c-title{
    width: 300px;
    height: 16px;
    font-family: Roboto;
    font-size: 20px;
    color: #616161;
    font-weight: 300;
    text-decoration: none solid rgb(97, 97, 97);
    text-decoration: underline;
    text-decoration-style:dashed;
}
div i{
    float:left;
    width:50px;
    height:30px;
}
span i{
    float:right;
    width:50px;
    height:30px;
}
table,tr,th{
    border-collapse: collapse;
    border-bottom: 1px solid grey;
}