.header{
    width: 379px;
    height: 19px;
    margin-top:16px ;
    margin-right:872px;
    margin-bottom: 35px ;
    margin-left:0px;
    top:30px;
    font-family: Roboto;
    font-size: 21px;
    color: #2561c2;
    font-weight:500px;
    text-decoration: none solid rgb(37, 97, 194);
}
.invoice-summary{
    width: 300px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    color: #6b6b6b;
    font-weight: 100;
    text-decoration: none solid rgb(107, 107, 107);
    line-height: 24px;
    letter-spacing: 1px;
}
.i-summary{
    position:relative;
    float:right;
    width: 32px;
    height: 32px;
    bottom:60px;
    left:930px;
    fill: #000000;
    transform: rotate(90deg);
}
.r-summary{
    position:relative;
    float:right;
    width: 32px;
    height: 32px;
    bottom:60px;
    left:930px;
    fill: #000000;
    transform: rotate(90deg);
}
hr{
    width: 1125px;
    height: 11px;
    fill: #8a8a8a;
}
.row{
    width:1140px;
    height:83px;
    
}
.col {
    width: 268px;
    height: 83px;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    text-align: center;
    padding-top:28px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(173,198,212,0.15);
    margin-left:20px;
    
}
.rule-summary{
    width: 300px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    color: #6b6b6b;
    font-weight: 100;
    text-decoration: none solid rgb(107, 107, 107);
    line-height: 24px;
    letter-spacing: 1px;
}
.content{
    width: 1125px;
    height: 468px;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(173,198,212,0.15);   
}
.c-title{
    width: 300px;
    height: 16px;
    font-family: Roboto;
    font-size: 20px;
    color: #616161;
    font-weight: 300;
    padding-left:50px;
}
.rule{
    position: absolute;
    width: 20px;
    height: 20px;
    left:80px;
    top:360px;
}
#symbol{
  position: relative;
  padding-top: 55px; 
  float:left; 
}
.table{
    width:1123px;
    table-layout: auto;
    float:left;
}
thead ,tbody{
    text-align: center;
}
.total-invoice {
    position: relative;
    bottom:70px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #1e88e5;
    background-size: cover;
    left: 15px;  
}
.pending-invoice{
    position: relative;
    bottom:70px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffb22b;;
    background-size: cover;
    left: 15px;
}
.approved-invoice{
    position: relative;
    bottom:70px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #7460ee;
    background-size: cover;
    left: 15px; 
}
.deleted-invoice{
    position: relative;
    bottom:70px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #fc4b6c;
    background-size: cover;
    left: 15px;  
}
.invoice-icon{
    position: relative;
    bottom:25px;
    right:52px;
    width: 25px;
    height: 25px;
    fill: #fff;
}
.eye{
    width: 20px;
    height: 20px;
    fill: #2583db;
}
.pen{
    width: 18px;
    height: 18px;
    fill: #2583db;
}
.delete{
    width: 20px;
    height: 20px;
    fill: #ff0d00;
}
.icon{
    margin-left:2px;
}