<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active" style="text-align: right">
            <img class="logo" src="./assets/images/dashboard/ricoh-logo-6-fb-559-png.png"/>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <i class="fa fa-sign-out fa-3" aria-hidden="true" href="javascript:void(0)" (click)="logout()" style="font-size: 25px;color: #fc4b6c; cursor: pointer;"></i>
        </form>
      </div>
  </nav>
  <!-- Left Slidebar icon Start here -->
  <div id="slidebar-icon">
    <p-sidebar class="sidebar " [(visible)]="display" position="left" styleClass="ui-sidebar-sm ,"[style]="{width:'10em'}">
      <button class="sidebar-button"><a href="./#/dashboard"><img src="./assets/images/dashboard/dasboard.png"/></a></button>
        <p>Dashboard</p>
      <button class="sidebar-button"><a href="./#/invoiceReport"><img src="./assets/images/dashboard/records.png"/></a></button>
        <p>Reports</p>
    </p-sidebar>
    <button id="sidebaricon" type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show"> <img class="add-rule" src="./assets/images/dashboard/sidebar icon.png"/></button>
  </div>
  <!-- Main Admin dashboard container start here. -->
  <div class="container">
    <div aria-label="breadcrumb" >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./#/dashboard">Dashboard</a></li>
        <li style="width: 50%;">
          <div id="c-r"><span>Create New</span>
            <div class="createRuleBtnDiv">
              <button class="createRuleBtn" (click)="createRuleData(create)">
                <img class="add-rule" src="./assets/images/dashboard/addRuleIcon.png"/>
              </button>
            </div>
          </div> 
        </li>
      </ol>
    </div>
    <!--Invoice summary start here-->
    <div class="summary">Invoice Summary
       <img (click)="toggle()" id="i-summary" src="./assets/images/dashboard/toggleIcon.png">
    </div>
    <hr>
    <div class="row"  *ngIf="show"> 
      <div class="col ml-0">Total Invoices
        <p class="total-invoice invoice"><img class="invoice-icon" src="./assets/images/dashboard/Icon 1.png"></p>
      </div>
          
      <div class="col ml-3">Pending Invoices
        <p class="pending-invoice  invoice"><img class="invoice-icon" src="./assets/images/dashboard/Icon 2 .png"></p>
      </div>
        
      <div class="col ml-3">Approval Invoices
       <p class="approved-invoice invoice"><img class="invoice-icon" src="./assets/images/dashboard/icon 3.png"></p>
      </div>
    
      <div class="col ml-3">Rejected Invoices
        <p class="deleted-invoice invoice"><img class="invoice-icon" src="./assets/images/dashboard/Icon 4.png"></p>
      </div>
    </div>
    <div class="summary">Rules Summary
      <img id="r-summary" src="./assets/images/dashboard/toggleIcon.png"/>
    </div>
    <hr>
    <!-- <p-sidebar [(visible)]="display" [fullScreen]="true"> -->
    <div class="ruleContent">
      <!-- Rule Details Header Div -->
      <div class="row-class">
        <div style="width: 50%;float: left">
          <div style="float: left;padding-right: 10px"><img id="rule c-title" src="./assets/images/dashboard/icon 5 .png"/></div>
          <span>Rule</span>
        </div>
        <div style="width: 50%;float: right">
          <div style="float: right">
            <button class="rule-btn"><img class=" tbl-ttl-icon" src="./assets/images/dashboard/icon 11.png"></button>
            <button type="text"  class="rule-btn" ><img  class=" tbl-ttl-icon" src="./assets/images/dashboard/icon 12 .png"></button>
          </div>
        </div>
      </div>
      <!-- End of Rule Details Header Div -->

      <!-- Rule Details Table-->
      <div class="row-class">
        <table class="table">
          <thead>
            <tr>
              <td></td>
              <td>Rule Id </td>
              <td>Currency</td>
              <td>Invoice Amount From</td>
              <td>Invoice Amount To</td>
              <td>Created On</td>
              <td>Level of Approve</td>
              <td>Action</td> 
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-element [ngForOf]="ruleData" let-i="index">
              <tr>
                <td>
                  <button class="ruleIconBtn" (click)="ShowSubrule()"><img id="subRuleImgId" style="border: none;" class="r-extend tbl-icon" src="./assets/images/dashboard/icon 13.png"></button>
                  <button class="ruleIconBtn"><img class="setting tbl-icon" src="./assets/images/dashboard/icon 14 .png"></button>
                </td>
                <td>{{element.id}}</td>
                <td>{{element.rule.ruleDetails[i].currency}}</td>
                <td>{{element.rule.ruleDetails[i].fromAmt}}</td>
                <td>{{element.rule.ruleDetails[i].toAmt}}</td>
                <td>{{element.createdAt | date }}</td>
                <td>{{element.rule.ruleDetails[i].level}}</td>
                <td>
                  <img class="view" src="./assets/images/dashboard/Icon 6.png" (click)="viewRuleData(view,element)" >
                  <img class="edit" src="./assets/images/dashboard/Icon 7.png" (click)="updateRuleData(update ,element)">
                  <img class="delete" src="./assets/images/dashboard/deleteRowIcon.png" (click)="deleteRuleData(remove ,element)">
                </td>
              </tr> 
              <ng-container *ngIf="ruleShow">
                <tr *ngFor="let subrule of element.rule.ruleDetails | slice:1" > 
                  <td colspan="3"></td>
                  <td>
                      <img class="subrule-icon" src="./assets/images/dashboard/icon 14 .png">
                      {{subrule.fromAmt}}
                  </td>
                  <td>{{subrule.toAmt}}</td>
                  <td>{{element.createdAt | date }}</td>
                  <td>{{subrule.level}}</td>
                  <td></td>
                </tr> 
              </ng-container>
           </ng-template>
            <tr id="noRecordFound" *ngIf="ruleData==undefined">{{errMsg}}</tr>
          </tbody>
        </table>
      </div> <!-- End of Rule Details Table-->
    </div>  <!-- End of RuleContent Div-->
  <!-- </p-sidebar> -->
  </div> <!-- End of Container Div-->

  <!--Footer content placed here-->
  <div class="footer">
    Copyright 2019. All Rights Reserved
  </div>

  <!-- Creat Rule Popup Content -->
  <ng-template #create  let-modal class="modal-content">
    <div id="popupContainer">
      <div class="modal-header popModalHeaderDiv">
        <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
        <span class="modal-title" id="modal-basic-title">Create New Rule</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- Reactive form start here -->
        <form [formGroup]="popupForm">
            <p id="popup-ttl">Manage Invoice value for level of approval</p>
            <div class="row">
              <div class="col-sm-4">
                <label  >Currency</label><br>
                <select disabled formControlName="currency"  class="form-control" >
                <option *ngFor="let value of currency">{{value}}</option>          
                </select>
              </div>
              <div class="col-sm-4">
                <label >Select Mode</label><br>
                <input type="radio" formControlName="mode" value="SEQ"> Sequential Approval
              </div>
              <div class="col-sm-4">
                <label >&nbsp;</label><br>
                <input type="radio" formControlName="mode"  value="TOP"> Top Approval
              </div>
            </div>
            <!-- Error Msg Div -->
            <div class="row">
	            <div id="errorMsgDivId" class="col-sm-12" style="display: none; color: red">
                  <span style="color: red;">{{errMsg}}</span>
              </div>
            </div> 
            <div formArrayName="ruleRows">
              <div class="ruleRowId form-inline form-group">
                <div  *ngFor="let rule of ruleRows.controls; let i=index; first as isFirst; last as isLast" [formGroupName]="i" style="width: 100%">
                  <div class="row">
                    <div class="col-sm-4" > 
                      <label  class="ruleDetailTitle">Invoice Amount From ($)</label>
                      <input id="fromAmt{{i}}" style="border: 1px solid #d1d1d1;" formControlName="fromAmt" class="form-control" type="number" required="required"> 
                    </div>
                    <div class="col-sm-4" > 
                      <label  class="ruleDetailTitle">Invoice Amount To ($)</label>
                      <input id="toAmt{{i}}" style="border: 1px solid #d1d1d1;" formControlName="toAmt" class="form-control" type="number" > 
                    </div>
                    <div class="col-sm-4" > 
                      <label  class="ruleDetailTitle">Manager Level</label>
                      <select disabled  formControlName="level"  class=" form-control drowdownCls" style="width: 80%;">
                        <option  *ngFor="let sml of levelArr; let index=i;" >{{ i+1 }}</option>
                      </select>
                      <div *ngIf="isFirst; then showAddRuleIcon else showDeleteRuleIcon"></div>
                      <ng-template #showAddRuleIcon>
                        <button class="addRuleRow" (click)="addRuleRows()"> 
                          <span *ngIf="isFirst"><i class="fas fa-plus-circle addRuleIcon"></i></span>
                        </button>
                      </ng-template>
                      <ng-template #showDeleteRuleIcon>
                        <button class= "addRuleRow" (click)="deleteRuleRow(popupForm.controls.ruleRows.controls.length-1)">
                          <span *ngIf="isLast"><i class="fa fa-times deleteRuleIcon" aria-hidden="true"></i></span>
                        </button>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-- add rule row  div end here -->
            
            <div  class="row  textareaId  form-group">
              <textarea rows="4" column="2" class="ruleTextArea" formControlName="text"  placeholder="Enter comments here"></textarea>
            </div>
            <div class="modal-footer  form-group">
                <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')" >Cancel</button>
                <button  type="submit"  class="btn btn-outline-primary" (click)="openRuleConfPopup(createConfirm)" >Create Rule</button>
            </div>
          </form>
        <!-- form end here -->
    </div>
  </div>
  </ng-template>  <!-- End of create rule popup  -->

  <!-- Create rule confirmation popup start here -->
  <ng-template #createConfirm let-modal>
    <div id="popupWrapper">
      <div id="popupContainer">
        <div class="modal-header">
          <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
          <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p id="confirmMsg">Are you sure you want to Create New Rule ?</p>
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-outline-dark  " (click)="modal.dismiss('Cross click')">Cancel</button>
          <button type="button" class="btn btn-outline-primary "(click)="createRule()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template> 
   <!-- Create rule confirmation popup end here -->

<!-- Rule : VIEW popup modal -->
  <ng-template #view  let-modal class="modal-content">
    <div id="popupContainer">
      <div class="modal-header popModalHeaderDiv">
        <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
        <span class="modal-title" id="modal-basic-title">View Rule</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form start here -->
        <form  [formGroup]="popupForm" >
          <p id="confPopup-ttl">Manage Invoice value for level of approval</p>
           <!-- Rule Currency and Mode selection -->
          <div class="row">
            <div class="col-sm-4">
              <label  >Currency</label><br>
              <select disabled formControlName="currency"  class="form-control" >
                <option *ngFor="let value of currency">{{value}}</option>          
              </select>
            </div>
            <div class="col-sm-4">
              <label >Select Mode</label><br>
              <input disabled type="radio" formControlName="mode" value="SEQ"> Sequential Approval
            </div>
            <div class="col-sm-4">
              <label >&nbsp;</label><br>
              <input  disabled  type="radio" formControlName="mode"  value="TOP"> Top Approval
            </div>
          </div>
         <!-- Rule Details Array -->
          <div formArrayName="ruleRows">
            <div class="ruleRowId form-inline form-group">
              <div  *ngFor="let rule of ruleRows.controls; let i=index" [formGroupName]="i" style="width: 100%">
                <div class="row">
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Invoice Amount From ($)</label>
                    <input disabled formControlName="fromAmt" class="form-control" type="number">
                  </div>
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Invoice Amount To ($)</label>
                    <input disabled formControlName="toAmt" class="form-control" type="number" >
                  </div>
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Manager Level</label>
                    <select disabled  formControlName="level"  class=" form-control drowdownCls" >
                      <option  *ngFor="let sml of levelArr; let index=i;" >{{ i+1 }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  class="row  textareaId  form-group">
            <textarea rows="4" column="2" class="ruleTextArea" formControlName="text"  placeholder="Enter comments here"></textarea>
          </div>
          <div class="modal-footer  form-group">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')" >Cancel</button>
          </div>
      </form>
         <!-- form end here -->
    </div>
  </div>
  </ng-template>  <!-- End of view popup -->

  <!-- Update popup start here -->
  <ng-template #update  let-modal class="modal-content">
    <div id="popupContainer">
      <div class="modal-header popModalHeaderDiv">
        <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
        <span class="modal-title" id="modal-basic-title">Update New Rule</span>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form start here -->
        <form  [formGroup]="popupForm" >
          <p id="popup-ttl">Manage Invoice value for level of approval</p>
          <div class="row">
            <div class="col-sm-4">
              <label  >Currency</label><br>
              <select disabled formControlName="currency"  class="form-control" >
                <option *ngFor="let value of currency">{{value}}</option>          
              </select>
            </div>
            <div class="col-sm-4">
              <label >Select Mode</label><br>
              <input disabled type="radio" formControlName="mode" value="SEQ"> Sequential Approval
            </div>
            <div class="col-sm-4">
              <label >&nbsp;</label><br>
              <input disabled type="radio" formControlName="mode"  value="TOP"> Top Approval
            </div>
            <!-- Error Msg Div -->
            <div class="row">
              <div id="errorMsgDivId" class="col-sm-12" style="display: none; color: red">
                <span style="color: red;">{{errMsg}}</span>
              </div>
            </div> 
          </div>
          <div formArrayName="ruleRows">
            <div class="ruleRowId form-inline form-group">
              <div  *ngFor="let rule of ruleRows.controls; let i=index; first as isFirst; last as isLast" [formGroupName]="i" style="width: 100%">
                <div class="row">
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Invoice Amount From ($)</label>
                    <input id="fromAmt{{i}}" style="border: 1px solid #d1d1d1;" formControlName="fromAmt" class="form-control" type="number">
                  </div>
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Invoice Amount To ($)</label>
                    <input id="toAmt{{i}}" style="border: 1px solid #d1d1d1;" formControlName="toAmt" class="form-control" type="number" >
                  </div>
                  <div class="col-sm-4" > 
                    <label  class="ruleDetailTitle">Manager Level</label>
                    <select disabled  formControlName="level"  class=" form-control drowdownCls" style="width: 80%;">
                      <option  *ngFor="let sml of levelArr; let index=i;" >{{ i+1 }}</option>
                    </select>
                    <div *ngIf="isFirst; then showAddRuleIcon else showDeleteRuleIcon"></div>
                      <ng-template #showAddRuleIcon>
                        <button class="addRuleRow" (click)="addRuleRows()"> 
                          <span *ngIf="isFirst"><i class="fas fa-plus-circle addRuleIcon"></i></span>
                        </button>
                      </ng-template>
                      <ng-template #showDeleteRuleIcon>
                        <button class= "addRuleRow" (click)="deleteRuleRow(popupForm.controls.ruleRows.controls.length-1)">
                          <span *ngIf="isLast"><i class="fa fa-times deleteRuleIcon" aria-hidden="true"></i></span>
                        </button>
                      </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- add rule row  div end here -->    
          <div  class="row  textareaId  form-group">
            <textarea rows="4" column="2" class="ruleTextArea" formControlName="text"  placeholder="Enter comments here"></textarea>
          </div>
          <div class="modal-footer  form-group">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')" >Cancel</button>
            <button  type="submit"  class="btn btn-outline-primary " (click)="openRuleConfPopup(updateConfirm)" >Update Rule</button>
          </div>
        </form>
          <!-- form end here -->
      </div>
    </div>
  </ng-template>   
<!-- end of update popup -->

 <!-- Update rule confirmation popup start here -->
 <ng-template #updateConfirm let-modal>
    <div id="popupWrapper">
      <div id="popupContainer">
        <div class="modal-header">
            <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
            <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <p id="confirmMsg">Are you sure you want to Update the Rule ?</p>
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
          <button type="button" class="btn btn-outline-primary "(click)="updateRule()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template> 
 <!-- Update rule confirmation popup end here -->

<!-- Delete popup start here -->
  <ng-template #remove let-modal>
    <div id="popupWrapper">
      <div id="popupContainer">
        <div class="modal-header">
          <img src="./assets/images/dashboard/Invoice1.png" style="margin-right: 10px;">
          <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete this request ?</p>
      </div>

      <div class="modal-footer ">
        <button type="button" class="btn btn-outline-secondary " (click)="modal.dismiss('Cross click')">Cancel</button>
        <button type="button" class="btn btn-outline-primary "(click)="deleteRule()">Ok</button>
    </div>
      </div>
    </div>
  </ng-template> 
<!-- Delete popup end here -->
</div> <!-- End of Wrapper Div-->