/* You can add global styles to this file, and also import other style files */

body{
    background: #EEF5F9 !important;
}
nav{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
 .logo{
    margin:auto;
    width: 75%;
    height: 90%;
    padding-top: 5%;
} 
.wrapper{
    background-color: rgb(238, 245, 249);
    float:left;
    margin: auto;
    height: 100%;
    width: 100%;
}
.container-fluid{
    Width:100%;
    Height:100%;
    margin: auto;
}

.footer{
    
    background-color: #a8a8a8;
    background-size: cover;
    font-family: Roboto;
    font-size: 12px;
    color: #110000;
    text-decoration: none solid rgba(17, 0, 0, 0.5);
    text-align: center;
    padding: 0.5%;
    margin-top: 1%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.modal-footer{
    justify-content: center !important;
}
